# JVM crash related
core.*
hs_err_pid*

# Intellij
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# Gradle
!gradle-wrapper.jar
.gradle/
build/
*/build/

# Maven
log/
target/
dependency-reduced-pom.xml

# various other potential build files
bin/
dist/
manifest.mf

# Mac
.DS_Store/
.DS_Store

# vim
.*.sw[a-p]

# Linux temp files
*~

# other stuff
/run

/misteln-server/build.gradle.kts
/misteln-server/src/minecraft
/misteln-api/build.gradle.kts
/paper-server
/paper-api
/purpur-server
/purpur-api
*.jar
test-plugin.settings.gradle.kts
